@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-header {
    @apply text-3xl font-extrabold;
  }
  .text-spaced {
    @apply text-base leading-snug tracking-[0.2rem];
  }
  .text-description {
    @apply text-xs leading-[1.15] tracking-tight;
  }
}

:root {
  --background: #e2e2e2;
  --foreground: #595959;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
}
