@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css');
@import url('https://fonts.cdnfonts.com/css/squarefont');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-header {
    @apply text-5xl font-extrabold;
  }
  .text-spaced {
    @apply text-2xl leading-snug tracking-[0.2rem];
  }
  .text-description {
    @apply text-xs leading-[1.15] tracking-tight text-[#797979] dark:text-[#c2c2c2];
  }
  .hover-effect {
    @apply transition-colors duration-300 hover:bg-myDark hover:text-myLight dark:hover:bg-myLight dark:hover:text-myDarker;
  }
}

:root {
  --myLight: #e2e2e2;
  --myDark: #595959;
  --myDarker: #131313;

  --rt-opacity: 1 !important;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  display: none;
}

.blur-overlay {
  --maskWidth: 32px;

  backdrop-filter: blur(1px) brightness(95%);
  -webkit-backdrop-filter: blur(1px) brightness(95%);

  mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0px,
      rgba(0, 0, 0, 1) var(--maskWidth),
      rgba(0, 0, 0, 0) var(--maskWidth),
      rgba(0, 0, 0, 0) calc(100% - var(--maskWidth)),
      rgba(0, 0, 0, 1) calc(100% - var(--maskWidth)),
      rgba(0, 0, 0, 1) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0px,
      rgba(0, 0, 0, 1) var(--maskWidth),
      rgba(0, 0, 0, 0) var(--maskWidth),
      rgba(0, 0, 0, 0) calc(100% - var(--maskWidth)),
      rgba(0, 0, 0, 1) calc(100% - var(--maskWidth)),
      rgba(0, 0, 0, 1) 100%
    );

  -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0px,
      rgba(0, 0, 0, 1) var(--maskWidth),
      rgba(0, 0, 0, 0) var(--maskWidth),
      rgba(0, 0, 0, 0) calc(100% - var(--maskWidth)),
      rgba(0, 0, 0, 1) calc(100% - var(--maskWidth)),
      rgba(0, 0, 0, 1) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0px,
      rgba(0, 0, 0, 1) var(--maskWidth),
      rgba(0, 0, 0, 0) var(--maskWidth),
      rgba(0, 0, 0, 0) calc(100% - var(--maskWidth)),
      rgba(0, 0, 0, 1) calc(100% - var(--maskWidth)),
      rgba(0, 0, 0, 1) 100%
    );
}

@media (width >= 96rem) {
  .blur-overlay {
    --maskWidth: 40px;
  }
}
