@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-header {
    @apply text-5xl font-extrabold;
  }
  .text-spaced {
    @apply text-2xl leading-snug tracking-[0.2rem];
  }
  .text-description {
    @apply text-xs leading-[1.15] tracking-tight;
  }
}

:root {
  --myLight: #e2e2e2;
  --myDark: #595959;
  --myDarker: #222222;
}

body {
  font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
}
